[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
s3fs = "*"
pandas = "*"
pyyaml = "*"
fin-app-dataset = {editable = true, path = "."}
sqlalchemy = "*"
pydantic = "*"
sqlalchemy-utils = "*"
overrides = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
